Package: amdgpu-vulkan-switcher
Version: 1.3
Architecture: all
Maintainer: cosmo
Depends: bash
Section: libs
Priority: optional
Multi-Arch: foreign
Description: Select needed vulkan implementation with vk_radv, vk_amdvlk or vk_pro prefix
 