Package: amdgpu-opengl-switcher
Version: 1.3
Architecture: all
Maintainer: cosmo
Depends: bash
Section: libs
Priority: optional
Multi-Arch: foreign
Description: Select needed opengl implementation with gl_mesa, gl_zink or gl_pro prefix
 