
Package: opengl-amdgpu-pro
Source: opengl-amdgpu-pro
Version: 22.10.1-1401700
Architecture: i386
Maintainer: CosmicFusion <hotrod.master@hotmail.com>
Depends: libc6 (>= 2.14), libgcc-s1 (>= 3.4), libstdc++6 (>= 4.8)
Section: libs
Priority: optional
Multi-Arch: same
Description: implementation of the OpenGL API (32-bit)
Provides: libegl1-amdgpu-pro:i386, libgl1-amdgpu-pro-dri:i386, libgl1-amdgpu-pro-ext:i386, libgl1-amdgpu-pro-glx:i386, libglapi1-amdgpu-pro:i386, libgles2-amdgpu-pro:i386
